.o-pageContent
 .o-mrContent
  div(class="o-article__wrapper", data-artucle-title="overview")
   article
    div
     +titleContent(titleOdoo[0])
    div
      +contenidoGrid(`ODOO: Es es una Suite de aplicaciones en la web relacionadas con funciones y gestiones empresariales, tales como CRM (Customer Relation Mangment), gestión de proyectos, mesa de ayuda (HelpbDesk), comercio electrónico, contabilidad, inventario,  etc.  Esta plataforma puede adaptarse y personalizarse para los requerimientos de una empresa o grupo empresarial particular.`)
      +contenidoGrid(`Conex Telecom hace uso de esta plataforma para gestionar y hacer seguimiento de varios de sus procesos, como los relacionados con ventas y mercadeo, para los cual utilizan el modulo de CRM, también gestionan Proyectos y próximamente se estará implementando un módulo de Help Desk con que cuenta también la plataforma.  La dirección de Internet a través de la cual se puede acceder a esta plataforma es Conex.Online, se debe contar con un usuario y clave, creados por el Departamento de Sistemas de Conex Telecom.`)
    div
      +contenidoGrid(`CRM: Por sus siglas en inglés Customer Relationship Management, es una aplicación o programa que permite la gestión de relaciones con clientes y de actividades de venta y mercadeo.  CRM en Oddo es el módulo a través del cual el personal de ventas de las diferentes sedes de Conex Telecom gestionan de forma centralizada y bajo unos mismos criterios la gran parte de la actividades relacionadas con este particular.  Esta aplicación permite de forma fácil llevar a cabo el seguimiento de clientes potenciales, la distribución y asignación de tareas, el almacenamiento de los datos de los clientes de forma organizada y centralizada, así como la evaluación del desempeño de los equipos de ventas y de sus integrantes. `)
    div
      +contenidoGrid(`Usuarios del CRM: Son las personas que hacen uso de la aplicación.  En Conex Telecom son los directivos, personal del departamento de sistemas, los gerentes comerciales, gerentes de ventas, coordinadores de ventas, vendedores que son personal de la empresa, vendedores externos independientes, manejadores de cuentas de redes sociales y operadores del Call Center.`)
   
   .o-nextLink
    +relatedLink()
    +nextUpLink()
  include ../_footer_firm.pug