.o-pageContent
 .o-mrContent
  div(class="o-article__wrapper", data-artucle-title="overview")
   article
    div
     +titleContent('CRM - '+titleOdoo[1])
    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
       div
        p #[b 1.] Para el uso del CRM de la empresa se debe contar con un usuario y una clave de acceso que son creados por el Departamento de Sistemas de Conex Telecom. Es responsabilidad del Gerente Comercial y de los Gerentes de Ventas de cada sede, hacer la Solicitud de la creación de usuario y clave a través de un correo electrónico dirigido al Departamento de Sistemas de Conex Telecom, suministrando los siguientes datos:
        p #[b a)] Nombre y apellido de la persona
        p #[b b)] Nombre del Cargo.  Si es un usuario externo, se debe explicar el servicio que prestará y para qué zona o ámbito territorial
        p #[b c)] Equipo de Ventas al cual pertenecerá el usuario.  Si se trata de un nuevo equipo, se debe proponer un nombre de Equipo e indicar el nombre de la persona que será el Líder del equipo.  Esta información deberá estar autorizada por la Dirección General
        p #[b d)] Configuración del usuario. Se debe indicar si el usuario además de tener la posibilidad de crear Iniciativas, tendrá acceso a la creación de Oportunidades y a la vista del Flujo de Ventas
        p #[b e)] Correo electrónico @conextelecom.com. Si la persona no tiene asignado un correo de la empresa, indique el nombre, palabra y/o números que precederán al @conextelecom.com
    
    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
       div
        p #[b 2.] Todos los usuarios del  CRM deberán cargar o configurar su firma para los mensajes de correo electrónico que enviarán desde allí.  Para esto, deberán solicitar al Gerente Comercial o de Ventas según corresponda, las instrucciones para la creación de su firma. Ya dentro de la aplicación, para cargar o configurar la firma en el CRM, deberán ir a la opción "Mi Perfil", la cual se encuentra en el menú desplegable que aparece al hacer clic sobre el nombre del usuario que está ubicado en la esquina superior derecha de la pantalla de la aplicación.
        
    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 3.] Todo correo electrónico enviado desde el CRM para un cliente debe ir con la firma de quien lo está enviando, para ello la carga o configuración de la firma que se describe en el numeral anterior es imprescindible y es una de las primeras acciones que el usuario debe realizar al comenzar a trabajar con el CRM.
        
    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 4.] El registro de la información en el CRM se debe hacer de la siguiente manera: Los nombres de la Iniciativas y Oportunidades deben ir todos en mayúsculas y el detalle dentro de los formularios y fichas se deben transcribir tipo oración, es decir, en minúsculas y mayúsculas según las normas generales de ortografía.
        
    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 5.] Toda solicitud de información de servicios por parte de personas interesadas o de clientes que llegue a la empresa por diferentes vías, ya sea por formularios en el sitio web de la empresa, a través de vendedores, Call Center, administradores de redes sociales, etc.; deberá ser registrada en el CRM como una Iniciativa con la mayor cantidad de información posible de la persona interesada.  Algunas de estas solicitudes de información ya están llegando de forma automática a la bandeja de Iniciativas del CRM.
        
    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 6.] Todos los Usuarios del CRM podrán registrar Iniciativas. La información mínima con que se debe registrar una Iniciativa es:
        p #[b a)] Nombre de la Iniciativa. Deberá redactarse en lo posible de acuerdo al numeral 7. (Este campo es obligatorio)
        p #[b b)] Nombre del prospecto. Si se trata de una persona natural, se debe colocar el nombre de la persona tanto en el campo de "Nombre de la Compañía"  como en el campo de "Nombre del Contacto".  Si se trata de una empresa, se debe colocar el nombre de la empresa en el campo de "Nombre de Compañía" y el nombre de la persona contacto de la empresa en el campo de "Nombre del Contacto".  (Este campo es obligatorio)
        p #[b c)] Correo electrónico (Este campo es obligatorio)
        p #[b d)] Teléfono. (Este campo es obligatorio)
        p #[b e)] Dirección. Como mínimo el nombre de la urbanización, el sector, el municipio, la ciudad, estado y país. (Este campo Obligatorio)
        p #[b f)] Usuario al que ha sido asignada la Iniciativa. Por defecto la iniciativa quedará asignada al usuario que la está registrando, no obstante, esta asignación puede ser cambiada en cualquier momento.  Por ejemplo: las Iniciativas que son registradas por el equipo de Redes Sociales vienen asignadas por defecto a los usuarios de este equipo, posteriormente el líder de este equipo, que es la Gerente Comercial Nacional, las asigna a los Usuarios y Equipos de Ventas que correspondan según el tipo de servicio y zona del país en qué está ubicado el prospecto.
        p #[b g)] Equipo de Ventas. Cuando no se visualiza el Equipo de Ventas al momento de seleccionarlo, se debe proceder a verificar si la Compañía o Sede a la que está suscrito el Equipo de Ventas es la que se encuentra debidamente seleccionada. Ver tutorial en el siguiente enlace #[a(class="-LinkFaq", href="https://www.loom.com/share/502dc50c028e4329831d4126c26648c9", target="_blank") CRM - Cómo asignar Iniciativas a Equipos de Ventas de Conex Aragua]

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 7.] El nombre de las Iniciativas y Oportunidades creadas por el personal se configurará con los siguientes elementos y orden:
        p #[b.uppercase Tipo de servicio / Plan en MB / Sector o Urbanización / Nombre de edificio]
        p Ejemplo 1: #[.uppercase Hogar / 10 MB / Guataparo / Casablanca]
        p Ejemplo 1: #[.uppercase Empresas / 100 MB / El Vinedo / Torre Movistar]
        p Si se trata de un usuario que maneja cuentas de Redes Sociales, deberá colocar:
        p #[b.uppercase Ciudad / Red social / Tipo de servicio]
        p Ejemplo 1: #[.uppercase Caracas / Instagram / Hogar]
        p Ejemplo 1: #[.uppercase Valencia / Facebook / empresas]

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 8.] Los líderes de los Equipos de Ventas, entre ellos Gerentes de Ventas y Coordinadores tienen la potestad de asignar y reasignar Iniciativas y/o Oportunidades a los miembros de sus equipos.  Igual potestad tendrán los Directores y Gerentes Comerciales con relación a los Equipos de los Gerentes de Ventas sujetos a su supervisión.
        
    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 9.] Las Oportunidades se pueden crear de dos (2) maneras, convirtiendo una Iniciativa en Oportunidad o creando una Oportunidad desde la vista del Flujo de Ventas del CRM. Convertir una Iniciativa en Oportunidad es una responsabilidad de los Gerentes Comerciales y de Ventas, no obstante, esta responsabilidad puede ser delegada en algún Coordinador o miembro de los Equipos de Venta que estén bajo su supervisión.

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 10.] La Oportunidad debe contar obligatoriamente con la siguiente información:
        p #[b a)] Nombre de la Oportunidad. Que deberá redactarse de acuerdo al numeral 7.
        p #[b b)] Ingreso estimado. En este campo se colocará el monto de la mensualidad del servicio en que está interesado el cliente.
        p #[b c)] Probabilidad. De acuerdo al criterio de quién está creando la Oportunidad se deberá colocar un estimado, un numero del 1 al 100 que represente la probabilidad de que la venta se concrete.
        p #[b d)] Cierre previsto. Se debe colocar una fecha estimada de cierre de acuerdo a la experiencia de quien crea la oportunidad.
        p #[b e)] Nombre del cliente. El Cliente debe estar ya registrado en el módulo de Contactos de Odoo, si es así en el formulario de la Oportunidad, solo deberá seleccionarlo del menú desplegable que se muestra en el campo de "Cliente".  Si el cliente no aparece, el usuario que está creando la Oportunidad o convirtiéndola a partir de una Iniciativa, deberá primero crear al Cliente en la base de datos de Contactos del Odoo, para proceder a ello deberá colocar la mayor cantidad de datos posibles sobre el mismo. Una vez creado el Cliente se podrá seguir con la creación de la Oportunidad seleccionando al cliente por su nombre.
        p En la ventana de creación de Oportunidad se verificará, si se trata de una persona natural, en este caso el campo de "Nombre de Compañía" cuenta con el mismo nombre del cliente y el mismo se repetirá en el campo de "Nombre del Contacto"; si se trata de una empresa, se debe colocar el nombre de la empresa en el campo de "Nombre de Compañía" y el nombre de la persona contacto de la empresa en el campo de "Nombre del Contacto".
        p #[b f)] Dirección. Los más detallada posible, siempre indicando, Sector o Urbanización, Ciudad, Estado y País.  Todos estos datos se irán mejorando en la medida que se interactúe con el cliente.
        p #[b g)] Correo electrónico.
        p #[b h)] Teléfono.
        p #[b i)] Usuario al que ha sido asignado.
        p #[b j)] Equipo de Ventas. Si no se visualiza el Equipo de Ventas al momento de seleccionarlo, se debe proceder a verificar si la Compañía o Sede a la que está suscrito el Equipo de Ventas es la que se encuentra debidamente seleccionada. Ver tutorial en el siguiente enlace #[a(class="-LinkFaq", href="https://www.loom.com/share/502dc50c028e4329831d4126c26648c9", target="_blank") CRM - Cómo asignar Iniciativas a Equipos de Ventas de Conex Aragua]

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 11)] Todas las interacciones que se tengan con un prospecto o cliente, ya sea que se encuentre registrado como una Iniciativa o como una Oportunidad, deberá registrarse y documentarse dentro del CRM, para esta labor el CRM ofrece opciones que permiten dejar notas de toda las interacciones, guardar los correos electrónicos enviados y recibidos, y tiene una sección para planificación de actividades con fechas.

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 12)] En la ventana de la opción de "Enviar Mensaje" dentro del CRM, habrán algunas plantillas predefinidas por la empresa, para el correcto contacto y comunicación con los clientes, dichas plantillas deben ser usadas por los usuarios de acuerdo a las estrategias que fije el Gerente Comercial o según las instrucciones que éste indique para un caso en particular.

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 13)] Todo usuario que cambie de etapa a un cliente dentro del Flujo de Ventas, deberá dejar una nota explicando el evento que motivó el cambio y cualquier explicación que ayude a los demás usuarios a entender las interacciones y eventos que estén relacionados con el cliente.

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 14)] Los  usuarios deben procurar interactuar con el cliente de acuerdo a actividades programadas dentro del mismo CRM.  Esto implica que cada vez que interactúe con el cliente deberá programar la siguiente actividad con fecha específica para que el mismo CRM le alerte sobre esta actividad cuando llegue el día y se refleje también el módulo de Calendario del Odoo. Este Calendario puede sincronizarse con el Calendario de Google si el usuario lo desea.

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 15)] A todos los clientes que se trasladen dentro del Flujo de Ventas desde la columna de "Reunión/ Visita" a las de "Contrato / Firma", "Administración / Pago" u "Operaciones / Instalación" se les debe editar el Nombre de la Oportunidad para incluir al inicio el Número de Abonado que le ha sido asignado en el SAE PLUS (sistema en que se gestionan los clientes con servicio), esto permitirá hacerle seguimiento después de que la venta ya se haya concretado.

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 16)] Las Iniciativas de prospectos que se encuentren en zonas en donde no hay cobertura, es decir, en donde todavía no se está prestando servicios, deberán convertirse en Oportunidades y colocarse en la etapa del Flujo de Venta que lleva el nombre "Fuera de Cobertura".  A cada una de estas Oportunidades se le asignará una actividad tipo "Recordatorio" con la fecha estimada en la que deberá revisarse si ya se tiene cobertura para la zona o sector.

    div.a-mparagrah
     .a-gridElement
      .a-gridElement__gridColumnLeft
       div
      .a-gridElement__gridColumnBox
        p #[b 17)] Es responsabilidad de los Gerentes de Ventas supervisar que los miembros de los Equipos de Ventas que lideran registren sus actividades dentro del CRM, de acuerdo a estas normas y demás lineamiento aprobados por la directiva de Conex Telecom.

   .o-nextLink
    +relatedLink("", linksUrl[1]+linkOdoo[0], titleOdoo[0])
    +nextUpLink("", linksUrl[1]+linkOdoo[2], titleOdoo[2])
  include ../_footer_firm.pug