.o-navGlobal
 .o-globalNavInner
  .m-globalNavPrimary
   .m-globalNavPrimary__action
    .m-globalNavPrimary__item
     a(href="/dist/")
      .a-globalNavIcon
       img(src="/dist/assets/img/icons/menu_white.svg", alt="logo brand")
