.o-pageContent
 .o-mrContent.-index
  .a-pageTitle
   h1.a-pageTitle__text Conex Telecom Aragua
   h2.a-pageTitle__pg Bienvenido a la página web de entrenamiento y consulta
  .o-boxesUniverse
   .-boxPadding.-col1
    +boxWithText(linksUrl[1]+linkOdoo[0], "assets/img/odoo/icon_crm.png", "Odoo Crm", titles[0]+" CRM" , "En está sección encontraras conceptos, normativas y preguntas frecuentes")
    +boxWithText("#", "assets/img/saeplus/saeplus_logo.png", "", titles[1], "Abonados, contratos, facturación y control de pagos")
    +boxWithAll("2", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[6], "Organigramas, Funciones y Cargos, Normativas y Procedimientos, Formatos y Controles, Flujogramas de procesos")

   .-boxPadding.-col2
    +boxWithText("#", "assets/img/odoo/icon_project.png", "", titles[3] , "Zonas con cobertura y edificios verticalizados")
    +boxWithImg("5", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[8])
    +boxWithImg("3", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[4])

   .-boxPadding.-col3
    +boxWithText("#", "assets/img/odoo/icon_chat.png", "", titles[5] , "Clientes y usuarios")
    +boxWithText("#", "assets/img/profit/profit_logo.png", "", titles[2], "Administración, pagos, compras y almacén")
    +boxWithAll("4", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[7], "Organigramas, Funciones y Cargos, Normativas y Procedimientos, Formatos y Controles, Flujogramas de procesos")
  
  //- Footer firm
  .o-footerFirmDev.-index
   .justify-content-center.align-items-center.d-flex
    p Esta página fue hecha por
    a(href=linksUrl[1]): button(class="btn -btnMonlogo", type="button") Monlogo