.o-pageContent
 .o-mrContent.-index
  .a-pageTitle
   h1.a-pageTitle__text Conex - Website de entrenamiento
   h2.a-pageTitle__pg Este es website de entrenamiento y documentación de procesos de conex
  .o-boxesUniverse
   .-boxPadding.-col1
    +boxWithoutAll(linksUrl[1]+linkOdoo[0], "assents/img/icons/arrow_head.svg", "", titles[0])
    //- +boxWithoutAll("#", "assents/img/icons/arrow_head.svg", "", titles[1])
    //- +boxWithImg("2", "#", "assents/img/icons/arrow_head.svg", "", titles[2])

   //- .-boxPadding.-col2
    +boxWithText(linksUrl[1]+linkOdoo[0], "assents/img/icons/arrow_head.svg", "", titles[3] , "The grid items starts before the first column and spans, creating a new one in the process.")
    +boxWithAll("2", "#", "assents/img/icons/arrow_head.svg", "", titles[4], "The grid items starts before the first column and spans, creating a new one in the process.")

   //- .-boxPadding.-col3
    +boxWithText(linksUrl[1]+linkOdoo[0], "assents/img/icons/arrow_head.svg", "", titles[5] , "The grid items starts before the first column and spans, creating a new one in the process.")
    +boxWithoutAll("#", "assents/img/icons/arrow_head.svg", "", titles[6])
    +boxWithAll("2", "#", "assents/img/icons/arrow_head.svg", "", titles[7], "The grid items starts before the first column and spans, creating a new one in the process.")
  
  //- Footer firm
  .o-footerFirmDev.-index
   .justify-content-center.align-items-center.d-flex
    p Esta página fue hecha
    button(class="btn -btnMonlogo", type="button") Monlogo