.o-pageContent
 .o-mrContent
  div(class="o-article__wrapper", data-artucle-title="overview")
   article
    div
     +titleContent("Odoo prueba")
    div
      +contenidoGrid(`The Atlassian brand is  anchored in teamwork; around the momentum, progress, and pure achievement of people coming together. Marketing plays an important part in reinforcing this idea. Across touchpoints, we acknowledge the true story of teamwork - that it’s complex, chaotic, messy, but important - while helping customers understand the role our products in combating this complexity.`)
      +contenidoGrid(`Typically a status is used to show if a user approves or declines something (like a pull request in Bitbucket) or if an entity is private (like a space in Confluence). X-small and XX-large avatars do not support status.`)
   .o-nextLink
    +relatedLink()
    +nextUpLink()
  include _footer_firm.pug