.o-pageContent
 .o-mrContent.-index
  .a-pageTitle
   h1.a-pageTitle__text Conex Telecom
   h2.a-pageTitle__pg Bienvenido a la página web de entrenamiento
  .o-boxesUniverse
   .-boxPadding.-col1
    +boxWithText(linksUrl[1]+linkOdoo[0], "assets/img/odoo/icon_crm.png", "Odoo Crm", titles[0]+" CRM" , "Programe actividades en función de sus guiones de ventas")
    +boxWithText("#", "assets/img/saeplus/saeplus_logo.png", "", titles[1])
    +boxWithImg("2", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[6])

   .-boxPadding.-col2
    +boxWithText(linksUrl[1]+linkOdoo[0], "assets/img/odoo/icon_project.png", "", titles[3] , "Programe a su equipo con trabajadores en distintos proyectos")
    +boxWithImg("5", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[8])
    +boxWithAll("3", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[4], "The grid items starts before the first column and spans, creating a new one in the process.")

   .-boxPadding.-col3
    +boxWithText(linksUrl[1]+linkOdoo[0], "assets/img/odoo/icon_chat.png", "", titles[5] , "Lleve un registro de todas las interacciones con sus contactos")
    +boxWithText("#", "assets/img/profit/profit_logo.png", "", titles[2])
    +boxWithAll("4", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[7], "The grid items starts before the first column and spans, creating a new one in the process.")
  
  //- Footer firm
   .o-footerFirmDev.-index
   .justify-content-center.align-items-center.d-flex
    p Esta página fue hecha
    button(class="btn -btnMonlogo", type="button") Monlogo