.o-pageContent
 .o-mrContent.-index
  .a-pageTitle
   h1.a-pageTitle__text Conex Telecom Aragua
   h2.a-pageTitle__pg Bienvenido a la página web de entrenamiento
  .o-boxesUniverse
   .-boxPadding.-col1
    +boxWithText(linksUrl[1]+linkOdoo[0], "assets/img/odoo/icon_crm.png", "Odoo Crm", titles[0]+" CRM" , "Programe actividades en función de sus guiones de ventas")
    +boxWithText("#", "assets/img/saeplus/saeplus_logo.png", "", titles[1], "Contratos y control de pagos")
    +boxWithAll("2", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[6], "Organigramas, Funciones.y Cargos, Normativas y Procedimientos, Formatos y Controles, Flujogramas de procesos de Venta")

   .-boxPadding.-col2
    +boxWithText(linksUrl[1]+linkOdoo[0], "assets/img/odoo/icon_project.png", "", titles[3] , "Programe a su equipo con trabajadores en distintos proyectos")
    +boxWithImg("5", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[8])
    +boxWithImg("3", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[4])

   .-boxPadding.-col3
    +boxWithText(linksUrl[1]+linkOdoo[0], "assets/img/odoo/icon_chat.png", "", titles[5] , "Lleve un registro de todas las interacciones con sus contactos")
    +boxWithText("#", "assets/img/profit/profit_logo.png", "", titles[2], "Administración, facturación, compras y almacén")
    +boxWithAll("4", "#", "assets/img/logo/logo_conex@0_5x.png", "", titles[7], "Organigramas, Funciones.y Cargos, Normativas y Procedimientos, Formatos y Controles, Flujogramas de procesos de Operaciones")
  
  //- Footer firm
  .o-footerFirmDev.-index
   .justify-content-center.align-items-center.d-flex
    p Esta página fue hecha por
    button(class="btn -btnMonlogo", type="button") Monlogo