.o-navContainer#menuContent
 .o-containerNavInner.o-containerNavWhite
  .m-revealInner
  //- Aquí comienza el header del nav
  .m-containerHeading
   +menuSectionHeader()
   a.m-containerHeading__brand.d-none(href=linksUrl[1])
    .m-containerHeading__img
  //- Links a los contenidos
  .m-scroll__containerNavChildren.-contentMenu
   .m-scroll__scrollContainer.-contentMenu
    .m-scroll__content
     div(aria-label="otro" role="group")
      +itemContent("", "","#","Como estas")
     div(aria-label="Cosas Nuevas" role="group")
      +titleGroupContent("","cosas nuevas")
      +itemContent("itemContentLink-1"," -modifierLink",linksUrl[1]+"odoo/page-prueba.html","primer links")
    //- Menu global
    .m-scrollGlobal__content.d-none
     a(class="a-itemContent -globalLink -colorWhite", href="/dist/")
      .a-itemPart
       .a-itemPart__content Hello
     div(aria-label="Cosas Nuevas" role="group")
      +titleGroupContent("-globalMenu","cosas nuevas")
      +linkPageMenuGlobal()
      +linkPageMenuGlobal(linksUrl[1]+"odoo/page-prueba.html", "Odoo page")
  //- Algo
  .o-globalNavSec_container
   .m-revealInner