.o-navMobile
 nav(class="navbar navbar-expand-lg bg-menu fixed-top")
  a(class="navbar-brand a-navLogo -colorWhite", href=linksUrl[1]) Conex
  button(class="navbar-toggler a-navToggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
   //- span(class="navbar-toggler-icon")
   .a-globalNavIcon
    img(src=linksUrl[1]+"assets/img/icons/menu_white.svg", alt="logo brand")
  
  .collapse.navbar-collapse.a-navItemLink#navbarSupportedContent
   ul.navbar-nav
    +navItemMobile("", "", linksUrl[1]+linkOdoo[0], titles[0])

  .m-buscador