.o-navGlobal
 .o-globalNavInner
  .m-globalNavPrimary
   .m-globalNavPrimary__action
    .m-globalNavPrimary__item
     a.a-globalNavIcon.a-globalLogo(href=linksUrl[1])
      img.a-globalLogo__img(src=linksUrl[1]+logoResponsive[0], alt="index")
   .m-globalNavPrimary__action
    .m-globalNavPrimary__item
     .a-globalNavIcon
      img#a-burguerMenu(src=linksUrl[1]+"assets/img/icons/menu_white.svg", alt="logo brand")


.o-navContainer#menuContent
 .o-containerNavInner.o-containerNavWhite
  .m-revealInner
  //- Aquí comienza el header del nav
  .m-containerHeading
   +menuSectionHeader("assets/img/odoo/odoo_logo.svg",titles[0])
   a.m-containerHeading__brand.d-none(href=linksUrl[1])
    .m-containerHeading__img
  //- Links a los contenidos
  .m-scroll__containerNavChildren.-contentMenu
   .m-scroll__scrollContainer.-contentMenu
    .m-scroll__content
     //-  div(aria-label="otro" role="group")
     //-   +itemContent("", "","#","Como estas")
     div(aria-label="Odoo CRM", role="group")
      +titleGroupContent("","Odoo CRM")
      +itemContent("itemContentLink-1"," -modifierLink",linksUrl[1]+linkOdoo[0],titleOdoo[0])
      +itemContent("itemContentLink-1"," -modifierLink",linksUrl[1]+linkOdoo[1],titleOdoo[1])
      +itemContent("itemContentLink-1"," -modifierLink",linksUrl[1]+linkOdoo[2],titleOdoo[2])
    
    //-  div(aria-label="Odoo Proyectos", role="group")
      +titleGroupContent("","Odoo Proyectos")
      +itemContent("itemContentLink-1"," -modifierLink","#",titleOdoo[0])
      +itemContent("itemContentLink-1"," -modifierLink","#",titleOdoo[1])
      +itemContent("itemContentLink-1"," -modifierLink","#",titleOdoo[2])

     div(aria-label="Odoo Contactos", role="group")
      +titleGroupContent("","Odoo Contactos")
      +itemContent("itemContentLink-1"," -modifierLink","#",titleOdoo[1])
      +itemContent("itemContentLink-1"," -modifierLink","#",titleOdoo[2])
    //- Menu global
    .m-scrollGlobal__content.d-none
     +linkPageMenuGlobal(linksUrl[1], 'Inicio')
     +linkPageMenuGlobal(linksUrl[1]+linkOdoo[0], titles[0])
     //- +linkPageMenuGlobal("#", titles[1])
      +linkPageMenuGlobal("#", titles[2])
      +linkPageMenuGlobal("#", titles[8])
      +linkPageMenuGlobal("#", titles[4])
      +linkPageMenuGlobal("#", titles[6])
      +linkPageMenuGlobal("#", titles[7])
  //- Algo
  .o-globalNavSec_container
   .m-revealInner