.o-navGlobal
 .o-globalNavInner
  .m-globalNavPrimary
   .m-globalNavPrimary__action
    .m-globalNavPrimary__item
     a.a-globalNavIcon(href=linksUrl[1])
      img(src=linksUrl[1]+"assets/img/icons/group_small.svg", alt="index")
   .m-globalNavPrimary__action
    .m-globalNavPrimary__item
     .a-globalNavIcon
      img#a-burguerMenu(src=linksUrl[1]+"assets/img/icons/menu_white.svg", alt="logo brand")


.o-navContainer#menuContent
 .o-containerNavInner.o-containerNavWhite
  .m-revealInner
  //- Aquí comienza el header del nav
  .m-containerHeading
   +menuSectionHeader(img, titles[0], titles[0])
   a.m-containerHeading__brand.d-none(href=linksUrl[1])
    .m-containerHeading__img
  //- Links a los contenidos
  .m-scroll__containerNavChildren.-contentMenu
   .m-scroll__scrollContainer.-contentMenu
    .m-scroll__content
     //-  div(aria-label="otro" role="group")
     //-   +itemContent("", "","#","Como estas")
     div(aria-label="Cosas Nuevas" role="group")
      +titleGroupContent("","CRM - Cómo usarlo")
      +itemContent("itemContentLink-1"," -modifierLink",linksUrl[1]+linkOdoo[0],titleOdoo[0])
      +itemContent("itemContentLink-1"," -modifierLink",linksUrl[1]+linkOdoo[1],titleOdoo[1])
      +itemContent("itemContentLink-1"," -modifierLink",linksUrl[1]+linkOdoo[2],titleOdoo[2])
    //- Menu global
    .m-scrollGlobal__content.d-none
     +linkPageMenuGlobal(linksUrl[1]+linkOdoo[0], titles[0])
  //- Algo
  .o-globalNavSec_container
   .m-revealInner