include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
  meta(name="description", content="Sitio web de capacitación para vendedores")
  title Conex
 body.o-colorIndex

  // page
  .o
   .o-container
    .o-navAndContent
     //menu desktop
     .o-nav.d-none.d-lg-flex
      div
       div.o-nav__container.o-index-menu(style="width: 64px;")
         .o-navFixedContainer
           include base/_header.pug
       div
        .a-curtain
     // menu md-sm
     .o-nav.d-flex.d-lg-none
      include components/_menu_md.pug

     //Contenido
     include components/_contenido_index.pug

  // footer
  include base/_footer.pug