include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  link(rel="stylesheet", href="../assets/css/style.css")
  title Conex
 body(data-spy="scroll", data-target="#menuContent", data-offset="0")
  // page
  .o#itemContentLink-1
   .o-container
    .o-navAndContent
     //menu
     .o-nav.d-none.d-lg-flex
      div
       div(style="width: 304px;")
         .o-navFixedContainer
           include ../base/_header.pug
           include ../components/_menu.pug
       div
        .a-curtain
     // menu md-sm
     .o-nav.d-flex.d-lg-none
      include ../components/_menu_md.pug

     //Contenido
     include ../components/_contenido.pug


  // footer
  include ../base/_footer.pug