// Page Content
.o-colorIndex {
    background-color: $color-primary;
}

.o-pageContent {
    min-width: 0px;
    flex: 1 1 auto;
    position: relative;
    z-index: 1;
}

.o-mrContent {
    margin-top: 32px;
    margin-left: 0;
    transition: margin-left 0.25s ease 0s;
    &.-index {
        margin-left: -64px;
    }
    @include mediaQueriesLg {
        &.-index {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.a-pageTitle {
    text-align: center;
    margin: 40px auto 0;
    &__text {
        color: $color-lightin;
        line-height: 1.2;
        margin-bottom: 8px;
    }
    &__pg {
        color: $color-lightin;
        max-width: 23em;
        line-height: 1.25;
        font-weight: 500;
        display: inline-block;
        margin-top: 5px;
        letter-spacing: 0;
    }
    @include mediaQueriesLg {
        margin-top: 70px;
        max-width: 90%;
        &__pg {
            font-size: $fontS3;
            font-weight: 400;
        }
    }
    @include mediaQueriesXs {
        margin-top: 80px;
    }
}

.a-gridElement {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    @include mediaQueriesLg {
        max-width: 100%;
        padding-bottom: 20px;
    }
    @include mediaQueriesMd {
        padding-bottom: $fontS4;
    }
    @include mediaQueriesSm {
        padding-left: 0;
        padding-right: 0;
    }
    &__gridColumnLeft {
        max-width: #{calc(12% - 16px)};
        min-width: #{calc(8.33333% - 16px)};
        margin-right: 8px;
        margin-left: 8px;
        flex: 1 0 #{calc(16.6667% - 16px)};
        overflow-wrap: break-word;
        @include mediaQueriesLg {
            max-width: #{calc(10.6667% - 16px)};
        }
        @include mediaQueriesSm {
            margin-left: 0;
            margin-right: 0;
            max-width: 0;
            min-width: 40px;
        }
        @include mediaQueriesSm {
            min-width: 20px;
        }
    }
    &__gridColumnBox {
        max-width: #{calc(77% - 16px)};
        min-width: #{calc(8.33333% - 16px)};
        margin-right: 8px;
        margin-left: 8px;
        flex: 1 0 #{calc(66.6666% - 16px)};
        overflow-wrap: break-word;
        // position: relative;
        @include mediaQueriesLg {
            max-width: #{calc(80.6667% - 16px)};
        }
        @include mediaQueriesSm {
            max-width: 100%;
            margin-left: 0;
            margin-right: 40px;
        }
        @include mediaQueriesSm {
            margin-right: 20px;
        }
    }
    p {
        padding-bottom: $fontS1;
        margin-left: 5px;
    }
    p:last-child {
        padding-bottom: 0;
    }
    b, h2 {
        color: $color-primary;
    }
}

.-counter__container ol {
    counter-reset: myCounter;
}

.-counter__container ol li {
    list-style: none;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    &::before {
        width: 22px;
        height: 22px;
        margin: 2px 10px;
        display: inline-block;
        position: absolute;
        left: 10%;
        counter-increment: myCounter;
        content: counter(myCounter);
        border-radius: 50%;
        font-size: $fontS1;
        color: $color-lightin;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
        transition: all .2s;
        background-color: $color-primary;
    }
    @include mediaQueriesLg {
        &::before {
            left: 8%;
        }
    }
    @include mediaQueriesSm {
        &::before {
            left: .8%;
            line-height: 22px;
        }
    }
    @include mediaQueriesXs {
        &::before {
            left: 1.8%;
        }
    }
}

ol.-check__container li {
    list-style: none;
    margin-bottom: 0;
    &::before {
        width: 10px;
        height: 10px;
        margin: 8px 10px;
        display: inline-block;
        position: absolute;
        left: 13%;
        content: "";
        border-radius: 50%;
        text-align: center;
        transition: all .2s;
        background-color: $color-primary;
    }
    li::before {
        left: 15%;
    }
    @include mediaQueriesLg {
        &::before {
            left: 12%;
        }
        li::before {
            left: 14%;
        }
    }
    @include mediaQueriesSm {
        &::before {
            left: 6%;
        }
        .faq-list &::before {
            left: 3%;
        }
        .faq-list & li::before {
            left: 6%;
        }
    }
    @include mediaQueriesXs {
        &::before {
            left: 12%;
        }
        .faq-list &::before {
            left: 5%;
        }
        .faq-list & li::before {
            left: 12%;
        }
    }
}

.a-mparagrah {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}


.o-nextLink {
    max-width: 680px;
    margin: 30px auto 60px;
    padding: 24px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    background-color: $color-lightgrey;
    @include mediaQueriesMd {
        flex-direction: column;
        padding-bottom: #{calc( 40px - 16px)};
        margin: 0 auto 60px;
        max-width: 90%;
    }
    @include mediaQueriesXs {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.m-relatedLink,.m-nextUpLink {
    &.-flex {
        flex: 0 0 260px;
    }
    &__title {
        margin: 0 0 16px;
        padding: 0;
    }
    &__link {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__element {
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        display: flex;
        &:hover {
            text-decoration: underline;
            color: $color-primary;
        }
        &:active {
            text-decoration: underline;
            color: $color-primary;
        }
    }
    &__img {
        width: 24px;
        height: 24px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 2px;
        border-radius: 2px;
        display: inline-block;
        background-color: $color-primary;
    }
    &__img + span {
        flex: 0 0 auto;
        &:hover {
            color: $color-primary;
        }
        &:active {
            color: $color-primary;
        }
        &:focus {
            color: $color-primary;
        }
    }
    @include mediaQueriesMd {
        padding-bottom: 12px;
        &.-flex {
            flex: 0 0 0;
        }
        &__title {
            margin-bottom: 6px;
        }
    }
}

.m-beforeLink, .m-afterLink {
    display: flex;
    text-decoration: underline;
    &:focus {
        outline: none;
    }
}

.m-afterLink {
    justify-content: flex-end;
}

.a-linkArrow {
    &__left, &__right {
        height: 20px;
        width: 18px;
        position: relative;
        bottom: 1px;
    }
    &__left img {
        transform: rotate(-180deg);
    }
}