// Navegación y distribución de la página
.o-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.o-navAndContent {
    display: flex;
    flex: 1 1 auto;
}

.o-colorIndex {
    height: 100vh;
    .o-footerFirmDev.-index {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        /* width: 100%; */
        /* position: absolute;
        bottom: 0;
        margin-top: 15px; */
    }
    .m-footerFirm {
        margin-left: auto;
        margin-right: auto;
    }
    @include mediaQueriesMd {
        height: 92vh;
    }
}