-var title = "Título Principal"
-var titles = ["Odoo", "Caja 1", "Caja 2", "Caja 3", "Administración", "Caja chica", "Odoo 2", "Links"]
-var linksUrl = ["/conex/", "/dist/"]
-var linkOdoo = ["odoo/crm/concepto.html", "odoo/crm/normativa.html", "odoo/crm/faq.html"]
-var titleOdoo = ["Concepto y definiciones", "Normativa", "Preguntas Frecuentes"]