-var title = "Título Principal"
-var titles = ["Odoo", "Caja 1", "Caja 2", "Odoo Proyectos", "Administración", "Odoo Contactos", "Odoo 2", "Links"]
-var linksUrl = ["/conex/", "/dist/"]
-var linkOdoo = ["odoo/crm/concepto.html", "odoo/crm/normativa.html", "odoo/crm/faq.html"]
-var titleOdoo = ["Concepto y definiciones", "Normativa", "Preguntas Frecuentes"]
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"logo_conex@0_5x.png", logoImg+"logo_conex.png", logoImg+"logo_conex@1_5x.png"]