-var title = "Título Principal"
-var titles = ["Odoo", "Saeplus", "Profit", "Odoo Proyectos", "Administración", "Odoo Contactos", "Comercial", "Operaciones", "Empresa"]
-var linksUrl = ["/conex/", "/conex/"]
-var linkOdoo = ["odoo/crm/concepto.html", "odoo/crm/normativa.html", "odoo/crm/faq.html"]
-var titleOdoo = ["Conceptos y definiciones", "Normativa", "Preguntas Frecuentes"]
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"logo_conex@0_5x.png", logoImg+"logo_conex.png", logoImg+"logo_conex@1_5x.png"]

//- Monlogo
-var monlogo = ["https://monlogo.co", "Construida por"]